@model IEnumerable<Miniproject.Models.clickColor>

@{
    ViewBag.Title = "Index";
    AjaxOptions options = new AjaxOptions { };
}

<h2>Index</h2>
@using (Ajax.BeginForm("Answer", "clickColor", options, htmlAttributes: new { @id = "update-form" }))
{
    <div>
    <h4>@ViewBag.rightColor.color ?</h4>
    <hr />
    <table>
        <tr>
            @foreach (var item in Model)
            {
                <td>
                    <button type="button" style="width:40px;height:40px; background-color:@item.color" value="@item.color"></button>
                    @*@Html.DisplayFor(modelItem => item.color)*@
                </td>
            }
        </tr>
        </table>
</div>
}

