@model IEnumerable<Miniproject.Models.clickColor>

@{
    ViewBag.Title = "Index";
    AjaxOptions options = new AjaxOptions { };
}

<h2>Choose right color</h2>
@using (Ajax.BeginForm("Answer", "clickColor", options, htmlAttributes: new { @id = "update-form" })){
    <div>
    <h4>@ViewBag.rightColor.color ?</h4>
    <hr />
    <table>
        <tr>
            @foreach (var item in Model)
            {
                <td>
                    <input type="submit" name="command" style="font-size: 0; line-height: 0; width:40px;height:40px; background-color:@item.color" value="@item.color" />
                </td>
            }
        </tr>
        </table>
        <br />
        <p>Score: @Session["Score"]</p>
        <br />
</div>
}

