@model Miniproject.Models.correctText


@{
    ViewBag.Title = "Index";
}

<!doctype html>
<meta charset="UTF8">

<html ng-app="correcttext">

<head>
    <title></title>
    <script src="~/Scripts/angular.js"></script>
    <script>
var correcttext = angular.module("correcttext", []);

correcttext.controller("CorrectTextController", function ($scope, $http)
{
    $scope.playerInput = ""; // to prevent error when sending undefined object.
    $scope.incompleteText = "";
    $scope.correctText = "";
    $scope.currentChallenge = Object;
    $scope.challengeIndex = 0;
    $scope.challengeCount = 1;
    $scope.maxChallengesToDo = 15;
    $scope.randomChallenge = true;
    $scope.score = 0;
    $scope.maxScore = 0;
    $scope.showcorrectanswer = false;
    $scope.showchallenge = true;

    $scope.totalScore = 0;
    $scope.totalScoreMax = 0;

    $scope.fetchNewChallengeFromDatabase = function ()
    {
        $http({
            method: 'GET',
            url: '/correctTexts/GetChallenges'

        }).then(function successCallback(response) {
            $scope.challengeDb = response.data;
            $scope.currentChallenge = $scope.challengeDb[$scope.challengeIndex];
            $scope.incompleteText = $scope.currentChallenge.punctuation;
            $scope.correctText = $scope.currentChallenge.cText;

            $scope.getMaxScore();
            console.log($scope.currentChallenge);
            console.log("Got the data!");
        },
         function failureCallback(response) {
             console.log("Failed to get the data.");
         });
    }
    $scope.fetchNewChallengeFromDatabase();

	if($scope.incompleteText.length != $scope.correctText.length)
	{
		console.log("Error: incompleteText and correctText are of different lengths");
	}

	$scope.getMaxScore = function()
	{
		$scope.maxScore = 0;
		for (var i = $scope.incompleteText.length - 1; i >= 0; i--)
		{
			if($scope.incompleteText[i] == '*')
			{
				$scope.maxScore++;
			}
		}
	};
	$scope.calculateScore = function()
	{
		console.log("Calculating score..");
		if($scope.playerInput.length != $scope.incompleteText.length)
		{
			console.log("Input is not of the correct length.");
		}
		var stopCount = 0;
		if($scope.playerInput.length > $scope.incompleteText.length)
		{
			stopCount = $scope.incompleteText.length;
		}
		else
		{
			stopCount = $scope.playerInput.length;
		}

		for (var i = 0; i < stopCount; i++)
		{
			if($scope.incompleteText[i] == '*')
			{
				if($scope.playerInput[i] == $scope.correctText[i])
				{
					$scope.score++;
				}
			}
		}

		if ($scope.score != $scope.maxScore)
		{
		    $scope.showcorrectanswer = true;
		    console.log("Showing correct answer..");
		}
		else
		{
		    $scope.showcorrectanswer = false;
		}

		$scope.newChallenge();
	};

	$scope.newChallenge = function ()
	{
	    $scope.totalScore += $scope.score;
	    $scope.totalScoreMax += $scope.maxScore;

	    $scope.score = 0;
	    $scope.maxScore = 0;


	    if ($scope.challengeCount >= $scope.maxChallengesToDo)
	    {
	        // todo: redirect to some score page.
	        $scope.showchallenge = false;
	    }
	    if($scope.randomChallenge == true)
	    {
	        $scope.challengeIndex = Math.floor(Math.random() * $scope.challengeDb.length);
	        console.log("New random challenge: ", $scope.challengeIndex);
	    }
	    else
	    {
	        if($scope.challengeIndex++ >= $scope.challengeDb.length)
	        {
	            $scope.challengeIndex = 0;
	        }
	    }
	    $scope.challengeCount++;
	    $scope.currentChallenge = $scope.challengeDb[$scope.challengeIndex];
	    $scope.fetchNewChallengeFromDatabase();
	};

});

    </script>
</head>
<body ng-controller="CorrectTextController">
    <div ng-show="showchallenge">
        {{ incompleteText }}
        <br>
        <input type="text" ng-model="playerInput">
        <input type="submit" ng-click="calculateScore()">
        <p ng-show="showcorrectanswer">The correct answer was: {{ correctText }}</p>
        <div>Total score: {{ totalScore}}/{{ totalScoreMax }}</div>
    </div>
    <div ng-hide="showchallenge">
        <h1>Congratulations! You got {{ totalScore }} out of {{ totalScoreMax }} points! </h1>
    </div>
</body>
</html>

